<%= header %>
<main class="container">
    <div class="intro">
        <h1>Welcome.</h1>
        <p class="desc">Millions of movies, TV shows and people to discover. Explore now.</p>

        <form action="/search" class="search">
            <label><input type="text" placeholder="Search for a movie, tv show, person..."></label>
            <input type="submit" class="search__btn" value="Search">
        </form>

    </div>




    <h2>What's popular now?</h2>
    <div class="popular"></div>
    <h2>The top-rated movies</h2>
    <div class="top-rated"></div>
    <h2>Upcoming movies</h2>
    <div class="upcoming"></div>
</main>


<%= footer %>
