.header {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    z-index: 10;
    transition: top 0.2s linear;
    background-color: $pink;
    border-bottom: 2px solid $black;
}


.logo {
    width: 154px;
    height: 20px;
}

.header__flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu {
    display: flex;
}


.menu__list {
    display: none;
}

.burger{
    left: 10px;
}

.burger,
.burger::after,
.burger::before {
    display: block;
    background-color: $white;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.burger::before {
    content: '';
    margin-top: 8px;
}

.burger::after {
    content: '';
    margin-top: 16px;
}



@media (min-width: 768px) {

    .burger,
    .burger::after,
    .burger::before {
        display: none;
    }

    .menu__list {
        display: flex;
        li a {
            color: $white;
            padding: 10px;
            font-size: 20px;
            margin-right: 35px;
        }
    }

    
}

@media (min-width:990px) {
    .menu__list li a {
        font-size: 25px;
        margin-right: 77px;
        &:hover {
            text-decoration: underline;
        }
    }
    .logo {
        right: -60px;
        position: relative;
    }
   
}